<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uni.todoary" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Todoary"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="m" >
        <activity
            android:name=".feature.main.ui.view.OnBoardActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".feature.main.ui.view.DiaryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".util.TodoaryFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <meta-data android:name="com.fromEmail" android:value="${fromEmail}"/> -->
        <!-- <meta-data android:name="com.password" android:value="${password}"/> -->
        <activity
            android:name=".feature.setting.ui.view.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".feature.setting.ui.view.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.ui.view.TermsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.main.ui.view.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.setting.ui.view.SecureKeyActivity"/>
        <activity android:name=".feature.category.ui.view.CategoryActivity"/>
        <activity android:name=".feature.auth.ui.view.LoginActivity"/>
        <activity android:name=".feature.main.ui.view.MainActivity" />
        <activity android:name=".feature.setting.ui.view.AgreementActivity" />
        <activity android:name=".feature.setting.ui.view.DisplayActivity" />
        <activity android:name=".feature.setting.ui.view.FeedbackActivity" />
        <activity android:name=".feature.setting.ui.view.GuideActivity" />
        <activity android:name=".feature.setting.ui.view.PasswordActivity" />
        <activity android:name=".feature.setting.ui.view.ProfileActivity" />
        <activity android:name=".feature.setting.ui.view.FontActivity"/>
        <activity android:name=".feature.auth.ui.view.PwLockActivity" />
        <activity android:name=".feature.auth.ui.view.SignupActivity" />
        <activity
            android:name=".feature.auth.ui.view.TermscheckActivity"
            android:exported="false" />
        <activity android:name=".feature.auth.ui.view.FindPwActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".feature.category.ui.view.CategorysettingActivity" />
        <activity android:name=".feature.category.ui.view.TodoSettingActivity" />
        <activity android:name=".feature.setting.ui.view.ProfileEditActivity"/>
    </application>

</manifest>