<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uni.todoary" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Todoary"
        tools:targetApi="m">
<!--        <meta-data android:name="com.fromEmail" android:value="${fromEmail}"/>-->
<!--        <meta-data android:name="com.password" android:value="${password}"/>-->
        <activity
            android:name=".feature.setting.ui.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".feature.setting.ui.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.ui.TermsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.main.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.auth.ui.LoginActivity"/>
        <activity android:name=".feature.main.ui.MainActivity" />
        <activity android:name=".feature.setting.ui.AgreementActivity" />
        <activity android:name=".feature.setting.ui.DisplayActivity" />
        <activity android:name=".feature.setting.ui.FeedbackActivity" />
        <activity android:name=".feature.setting.ui.GuideActivity" />
        <activity android:name=".feature.setting.ui.PasswordActivity" />
        <activity android:name=".feature.setting.ui.ProfileActivity" />
        <activity android:name=".feature.setting.ui.FontActivity"/>
        <activity android:name=".feature.auth.ui.PwLockActivity" />
        <activity android:name=".feature.auth.ui.SignupActivity" />
        <activity android:name=".feature.auth.ui.TermscheckActivity"
            android:exported="false"/>
        <activity android:name=".feature.auth.ui.FindPwActivity" />
        <activity android:name=".feature.setting.ui.ProfileEditActivity"/>
    </application>

</manifest>